$h1-font-size: 50px;
$h2-font-size: 40px;
$h3-font-size: 30px;
$normal-font-size: 18px;
$h1-font-size-sm:40px;
$h2-font-size-sm: 30px;
$h3-font-size-sm: 25px;
$normal-font-size-sm: 15px;

$font-light-color: #000;
$font-dark-color: #fff;

$menu-light-bg: #fff;
$menu-dark-bg: #000;

$content-light-bg: #dadada;
$content-dark-bg: #3d3d3d;
