@import "../../styles/variables.scss";

.container {
  margin-bottom: 80px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    font-size: $h2-font-size;
    margin-bottom: 20px;
  }
  .skill {
    width: 80%;
    h3 {
      font-size: $h3-font-size;
      margin-bottom: 20px;
    }
    p {
      font-size: $normal-font-size;
      margin-bottom: 20px;
    }
  }
}

@media (max-width:576px) {
  .container{
    h2{
      font-size: $h2-font-size-sm;
    }
    .skill{
      h3{
        font-size: $h3-font-size-sm;
      }
      p{
        font-size: $normal-font-size-sm;
      }
    }
  }
}
