@import "../../../styles/variables.scss";

.imgWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  img {
    width: 70%;
  }
}
.date {
  color: $font-light-color;
  &.dark {
    color: $font-dark-color;
  }
}
