@import "../../styles/variables.scss";

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 20px;
  h1 {
    font-size: $h1-font-size;
  }
  .title {
    display: flex;
    font-size: $h2-font-size;
  }
  .socialMedia {
    display: flex;
    gap: 20px;
    font-size: $h2-font-size;
    a {
      color: $font-light-color;
      &.dark {
        color: $font-dark-color;
      }
    }
  }
  .themeSwitchButton {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid $font-light-color;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    cursor: pointer;
    &.dark {
      border: 1px solid $font-dark-color;
    }
  }
  .scrollDownButton {
    position: absolute;
    bottom: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: $normal-font-size;
    .arrowIcon{
      animation: arrowMove 1s ease infinite;
    }
  }
}

@keyframes arrowMove {
  0% {
    transform: translateY(-20%);
  }
  50% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY(-20%);
  }
}
