@import "../../styles/variables.scss";

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 20px;
  h1 {
    font-size: $h1-font-size;
  }
  .title {
    display: flex;
    font-size: $h2-font-size;
  }
  .socialMedia {
    display: flex;
    gap: 20px;
    font-size: $h2-font-size;
    a {
      color: $font-light-color;
      &.dark {
        color: $font-dark-color;
      }
    }
  }
  .header {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 30px 30px 0;
    background: $content-light-bg;
    display: flex;
    &.dark {
      background: $content-dark-bg;
    }
    .menuIcon {
      display: none;
      font-size: $h3-font-size;
    }
    .themeSwitchButton {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: auto;
      font-size: $h3-font-size;
      cursor: pointer;
    }
  }
  .scrollDownButton {
    position: absolute;
    bottom: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: $normal-font-size;
    .arrowIcon {
      animation: arrowMove 1s ease infinite;
    }
  }
}

@keyframes arrowMove {
  0% {
    transform: translateY(-20%);
  }
  50% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY(-20%);
  }
}

@media (max-width: 576px) {
  .container {
    h1 {
      font-size: $h1-font-size-sm;
      width: 100%;
      text-align: center;
    }
    .title {
      font-size: $h2-font-size-sm;
    }
    .socialMedia {
      font-size: $h1-font-size-sm;
    }
    .header {
      padding: 10px 10px 0;
      .menuIcon {
        display: block;
      }
    }
  }
}
