@import "../../styles/variables.scss";

.container {
  border-top: 1px solid black;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
  background: $menu-light-bg;
  &.dark {
    background: $menu-dark-bg;
    border-top: 1px solid #fff;
  }
}
