@import "./styles/variables.scss";

.container {
  position: relative;
  .content {
    padding-left: 350px;
    background: $content-light-bg;
    color: $font-light-color;
    &.dark {
      background: $content-dark-bg;
      color: $font-dark-color;
    }
  }
}

@media (max-width:576px) {
  .container{
    .content{
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}
